*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2{
  font-family: 'Roboto Slab', serif;
}

.img-full{
  width: 100%;
  height: 100vh;
}

#site-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0.5rem solid #f15050;
  background: url("img/manta.jpg") no-repeat center / cover;
}

#site-header h1{
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.navbar,
.nav-group{
  display: flex;
  align-items: baseline;
}

.navbar{
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar a,
.navbar button{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.donate-btn{
  border: none;
  background: #f15050;
  font-size: 1rem;
}

.menu-btn{
  display: none;
  border: none;
  background: none;
}