*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2{
  font-family: 'Roboto Slab', serif;
}

.img-full{
  width: 100%;
  height: 100vh;
}

#site-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0.5rem solid #c95252;
  background: url("img/manta.jpg") no-repeat center / cover;
}

#site-header h1{
  padding: 0 40px;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.navbar,
.nav-group,
.nav-links,
.nav-buttons{
  display: flex;
  align-items: baseline;
}

.nav-links,
.nav-buttons,
.navbar a,
.navbar button{
  flex: 1 0 auto;
}

.navbar a,
.navbar button{
  padding: 16px 24px;
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
}

.navbar a.logo{
  padding: 16px 32px 16px 0;
}

.nav-links a{
  margin-left: 32px;
  padding: 9.6px 0;
}

.nav-links a:first-child{
  margin-left: 0;
}

.nav-links a:hover{
  border-bottom: 0.4rem solid #fff;
}

.navbar button{
  border: none;
  cursor: pointer;
}

.donate-btn{
  background: #c95252;
  letter-spacing: 0.04rem;
}

.menu-btn{
  display: none;
  background: none;
}

.about-section{
  padding: 80px 0;
  background: #022F4D;
  background: -moz-linear-gradient(top, #0477ac 0%, #002738 100%);
  background: -webkit-linear-gradient(top, #0477ac 0%, #002738 100%);
  background: linear-gradient(top, #0477ac 0%, #002738 100%);
  color: #e5eef1;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}

.about-wrapper{
  margin: 0 auto;
  padding: 0 40px;
}

.aside-share{
  margin-right: 50px;
}

.about-article{
  margin: 0 100px;
}

.aside-share h3{
  margin-bottom: 4px;
  font-size: 0.94rem;
  font-weight: 700;
  text-transform: uppercase;
}

.about-article p{
  margin-bottom: 24px;
}

.about-article ul{
  padding-left: 34px;
}

.about-article li{
  margin-bottom: 12px;
}

#site-footer{
  background: #000e14;
}

.footer-wrapper a,
.footer-wrapper p{
  padding: 10px;
  color: #a8b9bb;
  text-decoration: none;
  font-size: 1rem;
}

.footer-wrapper p{
  color: #e2f2f3;
}

.footer-wrapper a:hover{
  color: #e2f2f3;
  transition: color 0.4s;
}

.footer-wrapper{
  margin: 0 auto;
  padding: 12px;
}

.footer-wrapper,
.footer-links{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 882px){
  #site-header{
    justify-content: flex-start;
  }

  #site-header h1{
    margin: 64px auto;
    font-size: 2.6rem;
  }

  .navbar{
    padding: 22px;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: #001930a4;
  }

  .nav-group{
    display: flex;
    flex-flow: column nowrap;
  }

  .nav-buttons{
    order: -1;
    align-self: flex-end;
  }

  .nav-links{
    flex-flow: column nowrap;
    align-items: flex-end;
    padding: 0 24px;
  }

  .nav-links a{
    margin-left: 0;
    padding: 18px 0 9.6px 0;
  }

  .navbar a,
  .navbar button{
    font-size: 1.25rem;
  }

  .nav-links a,
  .nav-buttons a{
    display: none;
  }

  .navbar:hover .nav-links a{
    display: block;
  }
  
  .menu-btn{
    display: inline-block;
    margin-left: 22px;
  }

  .fa-bars{
    font-size: 1.5rem;
  }

  .footer-wrapper{
    flex-direction: column;
    align-items: center;
  }

  .footer-links{
    justify-content: center;
  }
}

@media (min-width: 883px){
  #site-header h1{
    margin: 80px auto;
    font-size: 3.5rem;
  }

  .navbar{
    margin: 0 auto;
    padding: 46px 26px;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
  }

  .nav-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .nav-links{
    flex-wrap: nowrap;
  }

  .navbar a,
  .navbar button{
    font-size: 1.1rem;
  }

  .nav-links a:hover{
    border-bottom: 0.25rem solid #fff;
  }

  .nav-buttons a{
    margin: 0 10px;
  }
}

@media (min-width: 1183px){
  #site-header h1,
  .navbar,
  .about-wrapper,
  .footer-wrapper{
    width: 100%;
    max-width: 1090px;
  }
}

@media (min-width: 1783px){
  #site-header h1{
    margin: 64px auto;
    font-size: 4.48rem;
  }

  #site-header h1,
  .navbar,
  .about-wrapper,
  .footer-wrapper{
    max-width: 1395px;
  }

  .navbar{
    flex-wrap: wrap;
    justify-content: center;
    padding: 72px 26px;
  }

  .navbar a,
  .navbar button{
    font-size: 1.28rem;
  }

  .nav-links a:hover{
    border-bottom: 0.4rem solid #fff;
  }

  .fa-search{
    font-size: 1.4rem;
  }

  .nav-buttons a{
    margin: 0 15px;
  }

  .about-section{
    font-size: 1.6rem;
    line-height: 2.56rem;
  }

  .aside-share h3{
    font-size: 1.12rem;
  }

  .footer-wrapper a,
  .footer-wrapper p{
    font-size: 1.28rem;
  }
}