*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', Arial, sans-serif;
}

#site-main,
.nav-group,
.nav-links,
.categories-nav,
.item,
.form-section,
.nwsl-form,
.footer-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar,
.nav-icons,
.categories-links,
.items-section,
.page-nav,
.footer-nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#site-header{
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #fffffff6;
}

.navbar{
  align-items: baseline;
  padding: 15px 10px;
}

.nav-group,
.nav-links{
  align-items: flex-end;
}

.navbar a.logo{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.navbar a,
.menu-btn{
  margin: 0 12px;
  padding: 8px 0;
  color: #000;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 0.94rem;
  font-weight: 400;
  line-height: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a{
  display: none;
  margin-top: 8px;
}

.nav-group:hover .nav-links a{
  display: block;
}

.nav-links a:hover{
  border-bottom: 1px solid #000;
}

.nav-icons{
  order: -1;
}

.nav-icons a,
.menu-btn{
  border: none;
  background: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.social-icon{
  display: none;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background: #7d8472;
  background: url(./img/banner_coffee.png) no-repeat center / cover;
  text-align: center;
}

.banner h1{
  margin-top: 65px;
  padding: 15px;
  color: #e4e4e4;
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.categories-nav{
  margin: 40px auto;
}

.categories-nav h2{
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.categories-links a{
  padding: 8px 0;
  color: #000;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

.categories-links a::after{
  content: "•";
  margin: 0 12px;
}

.categories-links a:last-child::after{
  content: "";
  margin: 0;
}

.categories-links a:hover .underline{
  text-decoration: underline #000 solid;
}

.items-section{
  flex-flow: row wrap;
  justify-content: center;
}

.item{
  justify-content: center;
  width: 298px;
  position: relative;
}

.item:hover{
  border: 1px solid #000;
}

.new-item{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #7d8472bb;
}

.new-item p.new{
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}

.item a{
  padding: 15px 15px 0;
  color: #000;
  text-decoration: none;
}

.item img{
  display: block;
  max-width: 100%;
  height: auto;
}

.item h3{
  margin: 10px 0 15px;
  font-size: 0.94rem;
  font-weight: 500;
  text-transform: uppercase;
}

.item .horizontal-line{
  margin-bottom: 15px;
  width: 45px;
  border: none;
  border-top: 1px solid #000;
}

.item p.price{
  font-size: 0.94rem;
  font-style: italic;
  line-height: 0.94rem;
}

.item .strike{
  color: #bababa;
  text-decoration: line-through;
}

.item button{
  margin: 20px;
  padding: 15px 60px;
  border: 1px solid #000;
  background: none;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 0.98rem;
  font-weight: 300;
  line-height: 1rem;
}

.item button:hover{
  background: #000;
  color: #fff;
  cursor: pointer;
}

.page-nav{
  gap: 8px;
  margin: 30px 15px;
}

.page-nav a{
  padding: 10px 15px;
  border: 1px solid #000;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  text-decoration: none;
}

.page-nav a.current-page,
.page-nav a:hover{
  background: #000;
  color: #fff;
}

.page-nav a.previous-page{
  display: none;
}

.form-section{
  margin: 30px 0;
  background: #7d8472;
}

.nwsl-form{
  align-items: flex-start;
  text-align: left;
  padding: 30px;
  font-size: 0.875rem;
  font-weight: 300;
}

.nwsl-form p{
  margin-bottom: 10px;
}

.nwsl-form input[type="text"]{
  margin-top: 20px;
}

.nwsl-form input[type="text"],
.nwsl-form input[type="email"]{
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  color: #000;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1rem;
}

.nwsl-form input::placeholder{
  color:#b8b8b8;
}

.nwsl-form input:focus{
  border-bottom: 2px solid #000;
  outline: none;
}

.nwsl-form input:invalid{
  box-shadow: none;
}

::-moz-placeholder{
  opacity: 1;
}

input[type="checkbox"]{
  margin-right: 15px;
}

.nwsl-form label{
  margin-top: 20px;
}

.nwsl-form button{
  align-self: center;
  margin: 30px 0;
  padding: 15px 50px;
  border: 1px solid #000;
  background: none;
  font-size: 0.94rem;
  font-weight: 200;
  letter-spacing: 0.025rem;
}

.nwsl-form button:hover{
  background: #000;
  color: #fff;
  cursor: pointer;
}

.nwsl-form p:last-child{
  margin-bottom: 0;
  font-size: 0.75rem;
}

#site-footer{
  margin-bottom: 30px;
}

.footer-wrapper{
  padding: 0 30px;
}

.footer-wrapper p{
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 0.875rem;
}

.footer-nav a{
  padding: 0 15px;
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
}

.footer-nav a:hover{
  text-decoration: underline #000 1px;
}

@media (min-width: 944px){
  .navbar,
  .footer-wrapper{
    max-width: 1200px;
    margin: 0 auto;
  }

  .items-section,
  .nwsl-form{
    max-width: 900px;
    margin: 0 auto;
  }

  .nav-group,
  .nav-links,
  .footer-wrapper{
    flex-direction: row;
  }

  .navbar{
    padding: 25px 10px;
  }
  
  .nav-links a,
  .social-icon{
    display: block;
  }

  .navbar a.logo{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
  }

  .nav-links .social-link,
  .nav-group:hover .nav-links .social-link{
    display: none;
  }

  .menu-btn{
    display: none;
  }

  .nav-group,
  .nav-links,
  .nav-icons{
    align-items: baseline;
  }

  .nav-icons{
    order: 2;
  }

  a.current{
    border-bottom: 1px solid #000;
  }

  .banner{
    height: 50vh;
  }

  .banner h1{
    margin-top: 90px;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  .footer-wrapper p{
    margin: 0;
  }
}