*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', Arial, sans-serif;
}

h1, h2{
  font-family: 'Poppins', Arial, sans-serif;
}

a,
button{
  padding: 16px 24px;
  border: none;
  background: none;
  color: #000;
  text-decoration: none;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 300;
  line-height: 1rem;
}

#site-header,
#site-main,
.nav-group,
.nav-links,
.categories-nav,
.item,
.form-section,
.nwsl-form,
#site-footer,
.footer-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar,
.nav-icons,
.categories-links,
.items-section,
.page-nav,
.footer-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-links a{
  display: none;
}

.banner-main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45vh;
  background: url(img/pexels-tom-cordner-1399094.jpg) no-repeat center / cover;
  color: #fff;
}

.items-section{
  flex-flow: row wrap;
  justify-content: center;
}

.item{
  justify-content: center;
  width: 298px;
  height: 444px;
  margin: 30px;
  padding: 20px;
}

.item:hover{
  border: 1px solid #000;
}

.item img{
  display: block;
  max-width: 100%;
  height: auto;
}

.form-section{
  margin-top: 40px;
  padding: 30px;
  background: #7d8472;
}

#site-footer{
  padding: 20px;
}

.footer-wrapper p{
  margin: 10px auto;
}


@media (min-width: 944px){
  .navbar,
  .footer-wrapper{
    max-width: 1200px;
    margin: 0 auto;
  }

  .items-section,
  .nwsl-form{
    max-width: 900px;
    margin: 0 auto;
  }

  .nav-group,
  .nav-links{
    flex-direction: row;
  }
  
  .nav-links a{
    display: block;
  }
}