*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}

#main-nav{
  border-bottom: 1px solid #eee;
}

.navbar{
  display: flex;
  margin: 0 auto;
}

.nav-left,
.nav-right,
.nav-middle{
  display: flex;
}

a{
  text-decoration: none;
  color: #000;
}

.navbar a{
  padding: 12px 8px;
  color: #8d979e;
  text-transform: none;
  font-size: 15px;
}

.nav-middle .logo{
  color: #000;
  font-family: 'Fjord One', serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: lowercase;
}

input[type="search"]{
  width: 100px;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 20px;
  color: #798288;
  transition: width 0.5s;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
}

input[type="search"]:focus{
  width: 250px;
  border: 1px solid #5e666d;
  outline: none;
}

.container{
  display: flex;
  margin: 40px auto;
}

#main{
  flex-basis: 75%;
}

#aside{
  flex-basis: 25%;
}

#aside div,
#main article{
  margin-bottom: 30px;
  padding: 10px 25px 30px;
  border-bottom: 1px solid #eee;
}

#main article{
  padding: 15px 25px 30px;
}

#aside div{
  padding: 25px 25px 30px;
}

.post-header{
  padding: 12px 24px;
}

.post-header a{
  display: inline-block;
  margin-bottom: 8px;
}

.post-header a:hover{
  text-decoration: underline;
}

h2{
  margin-bottom: 12px;
  font-family: 'Fjord One', serif;
  font-size: 22px;
  line-height: 1.4em;
}

#main p{
  padding: 24px;
}

img{
  height: auto;
  max-width: 100%;
}

.tag a{
  padding: 6px 10px;
  background: #f4f6f8;
  color: #000;
  font-size: 11.5px;
  /* font-weight: 700; */
  line-height: 2.5em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  white-space: nowrap;
}

.tag a:hover{
  background: #e2e6ea;
}

.nwsl{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 80px;
  background: #eee;
  text-align: center;
}

.nwsl h2{
  margin-bottom: 8px;
}

.nwsl p{
  margin-bottom: 30px;
  color: #798288;
}

.form-email{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 100%;
}

input[type="email"],
input[type="submit"]{
  padding: 10px 12px;
  border: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
}

input[type="email"]{
  max-width: 100%;
  color: #798288;
}

input[type="submit"]{
  background:#6c757d;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 700;
  cursor: pointer;
}

input[type="email"]:focus{
  border: 1px solid #5e666d;
  outline: none;
}

input[type="email"]:invalid{
  box-shadow: none;
}

input[type="submit"]:hover{
  background:#5e666d;
}

::-moz-placeholder{
  opacity: 1;
}

.black-bar{
  background: #000;
  color: #798288;
  font-size: 15px;
  text-align: center;
}

.black-bar-top{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #212529;
}

.black-bar-top,
.black-bar-bottom{
  max-width: 70vw;
  margin: 0 auto;
  color: #555d65;
  text-transform: uppercase;
}

.black-bar-bottom{
  padding: 16px;
}

.black-bar-top a{
  margin: 16px 0;
  padding: 2px 16px;
  border-right: 1px solid #555d65;
  color: #555d65;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.black-bar-top a:hover{
  color: #ddd;
  transition: color 0.5s;
}

.black-bar-top a:last-child{
  border-right: none;
}

.black-bar-bottom p{
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
  line-height: 1.4rem;
}

@media (max-width: 749px){
  #main-nav{
    padding: 10px;
  }

  .navbar{
    flex-flow: column;
    align-items: flex-start;
    max-width: 80vw;
  }

  .nav-middle{
    order: -1;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: stretch;
  }

  .nav-middle .logo{
    order: -1;
    font-size: 1.6rem;
  }

  .nav-btn{
    padding: 10px 15px;
    border: 1px solid #eee;
    background: none;
  }

  .nav-left,
  .nav-right{
    flex-direction: column;
  }

  .nav-left a,
  .nav-right a,
  .navbar input{
    display: none;
  }

  .navbar:hover .nav-left a,
  .navbar:hover .nav-right a,
  .navbar:hover .nav-right input{
    display: block;
  }

  .container{
    flex-direction: column;
    max-width: 90vw;
  }
 }

@media (min-width: 750px){
  #main-nav{
    padding: 20px;
  }

  .navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    max-width: 70vw;
  }

  .nav-left,
  .nav-right{
    align-items: center;
  }

  .nav-btn{
    display: none;
  }

  .container{
    max-width: 70vw;
  }
}
